[build]
	publish = "html/"
	# Default build command.
	command = "npm run prod"

[[redirects]]
	from = "/rss"
	to = "/rss.xml
	status = 301

[[headers]]
	for = "/*"

	[headers.values]
		X-Content-Type-Options = "nosniff"
		Content-Security-Policy = "frame-ancestors 'none';"
		X-Frame-Options = "DENY"
		X-XSS-Protection = "1; mode=block"
