---
permalink: /
layout: 'default.njk'
seoPageTitle: Interviews with people who make the web
seoPageDescription: Behind the Source is a blog by Mike Street. It highlights the different routes and entry points into the web and the technology used to get there.
---

<h1>Behind the Source</h1>

<div class="intro">
	<p class="featured">Everyone is a junior in something</p>
	<p>Behind the Source is about exposing the people and tech who make the web<p>
</div>

<h2>Podcast coming soon</h2>

<p>In each episode we will be talking to experts about a particular topic, tech or tool. Sign up below to be kept up-to-date and be in the know when it goes live.</p>

<p>In the mean time, you can find out about the <a href="/podcasts/process/">recording process</a></p>

<p>If you have a topic suggestion or would like to be on the show, <a href="mailto:hello@behindthesource.co.uk">drop me an email</a>.</p>

{% include 'signup.njk' %}

<div class="text">
	<p><strong>Behind the Source</strong> is a project by <a href="https://www.mikestreety.co.uk/">Mike Street</a>. It highlights the different people and tech behind the web. </p>
	<p><a href="/about">Learn more about <strong>Behind the Source</strong>.</a></p>
</div>
