---
permalink: _redirects
sitemapIgnore: true
---

/rss /rss.xml 301
/favicon.ico	/assets/img/favicon.ico 301
/s01e00	/interviews/s01e00-pilot/	301
/s01e01	/interviews/s01e01-sara-vieira/	301
/s01e02	/interviews/s01e02-josh-hudson/	301
/s01e03	/interviews/s01e03-stephanie-stimac/	301
/s01e04	/interviews/s01e04-cassie-evans/	301
/s01e05	/interviews/s01e05-al-power/	301
/s01e06	/interviews/s01e06-stuart-nelson/	301
/s01e07	/interviews/s01e07-matt-stow/	301
/s01e08	/interviews/s01e08-cassidy-williams/	301
/process /interviews/process/
/the-process    /interviews/process/
/interviews/the-process/ /interviews/process/
/podcasts/s02e05-coolify-with-andras-bacsai/    /podcasts/s02e06-coolify-with-andras-bacsai/   301
