---
layout: default.njk

eleventyComputed:
  title: "{{ entry.title }}: {{ entry.intervieweeName }}"
  seoPageTitle: "{{ entry.title }}: {{ entry.intervieweeName }}"
  seoPageDescription: "{{ entry.heading }} - {{ entry.intervieweeName }} is interviewed for Behind the Source"
  socialMediaPhoto: "{{ entry.intervieweeSocialImage }}"
---
<div itemscope itemtype="http://schema.org/PublicationIssue" class="interviewSingle">

	<p class="meta">
		<span itemprop="issueNumber">#{{ entry.title }}</span>
		<time datetime="{{ entry.postDate }}" itemprop="datePublished">
			{{ entry.postDate | readableDate }}
		</time>
	</p>

	<h1 itemprop="headline">{{ entry.heading }}</h1>

	<div class="who" itemscope itemtype="http://schema.org/Person">
		<div class="">
			<img itemprop="image" src="{{ entry.intervieweePhoto }}" width="200" height="200" alt="{{ entry.intervieweeName }}">
		</div>
		<div class="">
			<h2 itemprop="name">{{ entry.intervieweeName }}</h2>
			{%- for link in entry.intervieweeSocial %}
				<a href="{{ link.href }}" itemprop="sameAs">{{ link.title }}</a>
			{% endfor %}
		</div>
	</div>

	<div class="intro" itemprop="abstract">{{ entry.intro | safe }}</div>

	<div>
		{%- for item in entry.body %}
			{%- if item.type == 'question' %}
			<dl class="interviewQuestion" itemprop="mainEntity" itemscope itemtype="http://schema.org/Thing">
				<dt itemprop="name">{{ item.fields.question | safe }}</dt>
				<dd itemprop="description">
					{{ item.fields.answer | safe }}
				</dd>
			</dl>
			{%- endif %}
			{%- if item.type == 'pullquote' %}
			<div itemscope itemtype="http://schema.org/Quotation">
				<blockquote itemprop="mainEntity" itemscope itemtype="http://schema.org/Thing">
					<p itemprop="description">{{ item.fields.quote }}</p>
				</blockquote>
				<cite class="isHidden" itemprop="spokenByCharacter" itemscope itemtype="http://schema.org/Person">
					<meta itemprop="name" content="{{ entry.intervieweeName }}">
				</cite>
			</div>
			{%- endif %}
			{%- if item.type == 'rte' %}
			<div>{{ item.fields.text | safe }}</div>
			{%- endif %}
		{% endfor %}

		{% include 'signup.njk' %}
	</div>
	<p>If you enjoyed this interview, would you consider <a href="https://www.buymeacoffee.com/mikestreety">buying us a round</a>? Make sure you mention {{ entry.intervieweeName }} in the message and i'll make sure they get half. Thank you.</p>

	<nav class="entryNavigation">
		<h2>Other interviews</h2>
		<ol class="interviewListing">
		{% set entry = pagination.page.previous %}
		{% if entry %}
			{% include 'entry.njk' %}
		{% endif %}
		{% set entry = pagination.page.next %}
		{% if entry %}
			{% include 'entry.njk' %}
		{% endif %}
		</ol>
	</nav>
</div>

