---
layout: default.njk
---
<div itemscope itemtype="http://schema.org/PublicationIssue" class="interviewSingle podcastSingle">

	<p class="meta">
		<span itemprop="issueNumber">#{{ episode }}</span>
		<time datetime="{{ date }}" itemprop="datePublished">
			{{ date | readableDate }}
		</time>
	</p>

	<h1 itemprop="headline">{{ title }}</h1>

	{% include 'person-card.njk' %}

	<div class="intro" itemprop="abstract">{{ intro | safe }}</div>

	{%- if acastEpisode %}
		<iframe src="https://embed.acast.com/62d9b3f5f39c44001194bc1e/{{ acastEpisode }}?cover=false" frameBorder="0" width="100%" height="110px"></iframe>
	{%- endif %}

	<div>
		{{ content | safe }}

		{% include 'signup.njk' %}
	</div>
</div>
